.slider-container {
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-dots,
.carousel-status {
    display: none;
}

.slider-img {
    height: 400px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}